In [ ]:
The Impacts of cholester levels has on the serverity of Heart Disease.

Heart disease essentially affects the heart and vessels leading to it, common types of this disease can 
be heart attacks (TIA) and strokes. There are many risk factors that can affect the likelihood of contacting
heart disease such as: cholesteral levels, blood sugar levels, age and there maximun heart rate. These are 
some of the factors are examined in the following data set below which we will be using to answer the following 
question: Do high cholesterol levels have a greater effect on the severity of heart disease in older men than 
older women?

In [3]:
library(tidyverse)
options(repr.matrix.max.rows = 6)
url <-"https://raw.githubusercontent.com/katelynmilan/DSCI_project/main/processed.cleveland.data"
data_set <- read_csv(url, col_names = c("age", "sex", "cp", "trestbps", "chol", "fbs", "restecg", "thalach", "exang", "oldpeak", "slope", "ca", "thal", "num"))
data_set

Rows: 303 Columns: 14
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr  (2): ca, thal
dbl (12): age, sex, cp, trestbps, chol, fbs, restecg, thalach, exang, oldpea...

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

    age sex cp trestbps chol fbs restecg thalach exang oldpeak slope ca  thal
1   63  1   1  145      233  1   2       150     0     2.3     3     0.0 6.0
2   67  1   4  160      286  0   2       108     1     1.5     2     3.0 3.0
3   67  1   4  120      229  0   2       129     1     2.6     2     2.0 7.0
⋮   ⋮   ⋮   ⋮  ⋮        ⋮    ⋮   ⋮       ⋮       ⋮     ⋮       ⋮     ⋮   ⋮
301 57  1   4  130      131  0   0       115     1     1.2     2     1.0 7.0
302 57  0   2  130      236  0   2       174     0     0.0     2     1.0 3.0
303 38  1   3  138      175  0   0       173     0     0.0     1     ?   3.0
    num
1   0
2   2
3   1
⋮   ⋮
301 3
302 1
303 0

In [4]:
clean_data <- data_set|>
select(age, sex, chol, num) |> 
rename(Heart_Disease = num, Cholesteral = chol, Age = age, Sex = sex)|>
mutate(Heart_Disease = as.character(Heart_Disease))
clean_data

    Age Sex Cholesteral Heart_Disease
1   63  1   233         0
2   67  1   286         2
3   67  1   229         1
⋮   ⋮   ⋮   ⋮           ⋮
301 57  1   131         3
302 57  0   236         1
303 38  1   175         0

In [ ]:
To conduct this data analysis we will use the columns of Age, Sex, Cholesteral and Heart Disease Severity. 
To search for our answer we would first tidy and wrangle all the data so we can perform an anaylysis.
Changing column names and values within the column to characters do the data is easier to read to the human eye. Then we will prefrom K nearest neighbor classification to answer our question. We will visulize our results 
using 2 scatter plots . Each one will represent a sex, age will be on the x axis and cholesteral level will be 
on the y axis. Lastly we will use different coloured points to show the different levels of heart disease severity. 
We will predict the value using classifcation on out created graph to classify it.

In [ ]:
Within our data we expect to find the older aged males with higherlevels of cholesterol
will have more serve heart disease conditions. These impacts could affect the daily food choice of 
seniors so they are more conicous in their cholesteral intake to prevent heart disease from occuring. 
This finding could lead to futher questions such as what other factors affect heart diseases and what is 
considered an abnormal intake of cholesteral that can result in heart diseases.